@import "tailwindcss";
@tailwind utilities;

@layer utilities {

   .bg-space {
    position: absolute;
    inset: 0;
   }

   .bg-space::before {
    content: "";
    position: absolute;
    inset: -145%;
    rotate: -45deg;
    background: #000;
    background-image: radial-gradient(4px 100px at 0px 235px, #0f0, #0000),
      radial-gradient(4px 100px at 300px 235px, #0f0, #0000),
      radial-gradient(1.5px 1.5px at 150px 117.5px, #0f0 100%, #0000 150%),
      radial-gradient(4px 100px at 0px 252px, #0f0, #0000),
      radial-gradient(4px 100px at 300px 252px, #0f0, #0000),
      radial-gradient(1.5px 1.5px at 150px 126px, #0f0 100%, #0000 150%);
      background-size: 300px 235px;
      animation: starRain 150s linear infinite;
   }

   @keyframes starRain {
    0% {
      background-position: 0px 220px;
    }
    to {
      background-position: 0px 6800px;
    }
   }

}